
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {  
    font-family: 'Share Tech Mono', monospace;
    background: #364d63;
}

.login-footer{
    padding: 15px 0;
    color: #999;
    text-align: center;
    background: #1a252f;
}

.login-footer p:last-child {    
    margin-bottom: 0;         
}

.navbar-light {
    background: #1a252f !important;
}

.nav-link-text {
    color: #FFF !important;
    margin: 0em 2em 0em 2em;
    font-weight: bold;
}

.navbar-brand-text {
    color: #FFF !important;
    font-weight: bold;
}

.nav-link-text:hover {
    color: #56A2fd !important;
    font-weight: bold;
}

li.nav-item.active{
    background: #121a21 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#img-brand-flisol {
    max-width: 40%;
    min-width: 40%;
}

#logo-cisc.img-footer{
    max-width: 45%;
    min-width: 35%;
}

#logo-tec.img-footer{
    max-width: 50%;
    min-width: 40%;
}

@media screen and (max-width:640px) {
    #img-brand-flisol {
        max-width: 100%;
        min-width: 100%;
    }

    /*    .img-footer{
            max-width: 20%;
            min-width: 20%;
        }*/

    #logo-cisc.img-footer{
        max-width: 18%;
        min-width: 18%;
    }

    #logo-tec.img-footer{
        max-width: 20%;
        min-width: 20%;
    }

    .login-footer{
        font-size: 12px;
    }

}
@media screen and (max-width:1024px) and (min-width:640px) {
    #img-brand-flisol {
        max-width: 100%;
        min-width: 100%;
    }

    /*    .img-footer{
            max-width: 20%;
            min-width: 20%;
        }*/
    #logo-cisc.img-footer{
        max-width: 18%;
        min-width: 18%;
    }

    #logo-tec.img-footer{
        max-width: 20%;
        min-width: 20%;
    }

    .login-footer{
        font-size: 12px;
    }

}


#row-contact {
    background: #1a252f !important;
    margin-right: 0 !important;
    margin-left: 0 !important; 
}