@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Share+Tech');

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
    font-family: 'Share Tech', sans-serif;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 200px; /* height of your footer */
}

.card {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card:hover {
    /*box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);*/
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 150px;*/
}

.full-content {
    height: calc(100vh - 150px) !important;
}

nav {
    /*height: 50px;*/
}

/*
==================================
            Colors
==================================
 */

.color-withe {
    color: white ;
}

.bg-black {
    background-color: #131313;
}
/*
==================================
            Alejandro
==================================
 */
body {  
    /*font-family: 'Share Tech Mono', monospace;*/
    background: #364d63;
}

.login-footer{
    padding: 15px 0;
    color: #999;
    text-align: center;
    background: #1a252f;
}

.login-footer p:last-child {    
    margin-bottom: 0;         
}

.navbar-light {
    font-family: 'Share Tech', sans-serif !important;
    background: #1a252f !important;
}

.nav-link-text {
    color: #FFF !important;
    margin: 0em 2em 0em 2em;
    /*font-weight: bold;*/
}

.navbar-brand-text {
    color: #FFF !important;
    font-weight: bold;
}

.nav-link-text:hover {
    color: #56A2fd !important;
    font-weight: bold;
}

li.nav-item.active{
    /*background: #121a21 !important;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

li.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#img-brand-flisol {
    max-width: 40%;
    min-width: 40%;
}

#logo-cisc.img-footer{
    max-width: 45%;
    min-width: 35%;
}

#logo-tec.img-footer{
    max-width: 50%;
    min-width: 40%;
}

@media screen and (max-width:640px) {
    #img-brand-flisol {
        max-width: 100%;
        min-width: 100%;
    }

    /*    .img-footer{
            max-width: 20%;
            min-width: 20%;
        }*/

    #logo-cisc.img-footer{
        max-width: 18%;
        min-width: 18%;
    }

    #logo-tec.img-footer{
        max-width: 20%;
        min-width: 20%;
    }

    .login-footer{
        font-size: 12px;
    }

}
@media screen and (max-width:1024px) and (min-width:640px) {
    #img-brand-flisol {
        max-width: 100%;
        min-width: 100%;
    }

    /*    .img-footer{
            max-width: 20%;
            min-width: 20%;
        }*/
    #logo-cisc.img-footer{
        max-width: 18%;
        min-width: 18%;
    }

    #logo-tec.img-footer{
        max-width: 20%;
        min-width: 20%;
    }

    .login-footer{
        font-size: 12px;
    }

}
#row-contact {
    background: #1a252f !important;
    margin-right: 0 !important;
    margin-left: 0 !important; 
}
